button{
  background-color: white;
  border-radius: 8px;
  width: 48px;
  height: 48px;
  border-color: #E39068;
  align-self: center;
}
button:hover{
  background-color: #0E86D4;
}

img{
  width: 32px;
  height: 32px;
  align-content: center;
}
