button{
  background-color: #FFFFFF;
  border-radius: 60px;
  width: 80px;
  height: 80px;
  border-color: #0E86D4;
}

button:hover{
  background-color: #D9D9D9;
}

img{
  width: 48px;
  height: 48px;
  align-content: center;
}
