<html>
<div class="container-fluid">
  <div class="row flex-nowrap navSection">
    <div class="col-auto px-sm-2 px-0">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100">
        <app-nav-bar>
        </app-nav-bar>
      </div>
    </div>
    <div class="col py-3 w-100 h-100">
     <app-section-a [sectionTitle]="AboutMe" [sectionContent]="AboutMeContent"></app-section-a>
      <app-section-b [sectionTitle]="Projects" [sectionContent]="ProjectsContent" [buttonSet]="true"></app-section-b>
      <app-section-a [sectionTitle]="Experience" [sectionContent]="ExperienceContent" [showExtendedContent]="true"></app-section-a>
      <app-section-b [sectionTitle]="ContactMe" [sectionContent]="ContactMeContent" [showExtendedContent]="true" [buttonSet]="false"></app-section-b>
    </div>
  </div>
</div>
</html>
