<html>
  <div>
      <div class="fixed-top">
        <app-nav-bar></app-nav-bar>
      </div>
      <div>
        <div class="spacer">
        </div>
        <app-section-a [sectionTitle]="AboutMe" [sectionContent]="AboutMeContent"></app-section-a>
        <app-section-b [sectionTitle]="Projects" [sectionContent]="ProjectsContent" [buttonSet]="true"></app-section-b>
        <app-section-a [sectionTitle]="Experience" [sectionContent]="ExperienceContent" [showExtendedContent]="true"></app-section-a>
        <app-section-b [sectionTitle]="ContactMe" [sectionContent]="ContactMeContent" [showExtendedContent]="true" [buttonSet]="false"></app-section-b>
      </div>
  </div>
</html>
