<div class="form-floating">
  <input type="Name" class="form-control" id="floatingInput" placeholder="Billy Bob">
  <label for="floatingInput">Name</label>
</div>
<div class="form-floating">
  <input type="Email" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput">Email address</label>
</div>
<div class="form-floating">
  <input type="Message" class="form-control" id="floatingInput" placeholder="Hello, I need X.">
  <label for="floatingInput">Email Message</label>
</div>

