@font-face {
  font-family: "Edu SA Beginner";
  src: url("/src/site_assets/fonts/EduSABeginner-VariableFont_wght.ttf") format('truetype');
}

/* Local Load*/
@font-face {
  font-family: Abel;
  src: url("/src/site_assets/fonts/Abel-Regular.ttf") format('truetype');
}

div{
  background-color: white;
  height: 600px;
}

h1, h2, h3{
  font-family: Abel;
  color: #003060;
  text-align: center;
}

p, b, i{
  font-family: "Edu SA Beginner";
  color: #003060;
  text-align: center;
  font-size: 24px;
}

topPadding{
  padding-top: 80px;
}

span{
    position: relative;
    top: -5%;
    width: 100%;
    left: 50%;
}
