<div>
  <h1 class="p-3">{{sectionTitle}}</h1>
  <p class="m-4">{{sectionContent}}</p>
  <div *ngIf="showExtendedContent">
    <div class="row-cols-1">
      <span class="container">
        <app-circle-button [name]="LinkedIn"></app-circle-button>
        <app-circle-button [name]="Github"></app-circle-button>
        <!--
        <app-circle-button [name]="GitLab"></app-circle-button>
        <app-circle-button [name]="Java"></app-circle-button>
        <app-circle-button [name]="LinkedIn"></app-circle-button>
        <app-circle-button [name]="LinkedIn"></app-circle-button>
        <app-circle-button [name]="LinkedIn"></app-circle-button>
        -->
      </span>
      <span class="container">
        <!--
        <app-circle-button [name]="LinkedIn"></app-circle-button>
        <app-circle-button [name]="LinkedIn"></app-circle-button>
        <app-circle-button [name]="LinkedIn"></app-circle-button>
        <app-circle-button [name]="LinkedIn"></app-circle-button>
        <app-circle-button [name]="LinkedIn"></app-circle-button>
        <app-circle-button [name]="LinkedIn"></app-circle-button>
        <app-circle-button [name]="LinkedIn"></app-circle-button>
        -->
      </span>
    </div>
  </div>
</div>
