@font-face {
  font-family: "Edu SA Beginner";
  scr: url(/src/site_assets/fonts/EduSABeginner-VariableFont_wght.ttf) format('truetype');
}

div{
  background-color: #055C9D;
}

p, b, i{
  font-family: "Edu SA Beginner";
  color: #e39068;
}

li{
  list-style: none;
}
