@font-face {
  font-family: "Edu SA Beginner";
  src: url("/src/site_assets/fonts/EduSABeginner-VariableFont_wght.ttf") format('truetype');
}

img{
  width: 32px;
  height: 32px;
}

p, b, i, a{
  font-family: "Edu SA Beginner";
  font-size: 24px;
}

a:hover{
  color: black;
}
