


          <img src="#">
          <p> Harold D. Garner</p>
          <div class="">
            <div class="d-flex justify-content-around">
              <div class="col-auto">
                <app-square-button></app-square-button>
              </div>
              <div class="col-auto">
                <app-square-button></app-square-button>
              </div>
            </div>
          </div>
          <ul>
            <b>
              <li *ngFor="let items of NavBarList">
                {{ items.item }}
              </li>
            </b>
          </ul>




<!--
  <div ngbNav #nav="ngbNav" class="flex-column align-content-center" orientation="vertical">
    <img src="#">
    <p> Harold D. Garner</p>
<div class="container">
  <div class="row">
    <div class="col">
      <app-square-button></app-square-button>
    </div>
    <div class="col">
      <app-square-button></app-square-button>
    </div>
  </div>
</div>
<ul>
  <b>
    <li *ngFor="let items of NavBarList">
      {{ items.item }}
    </li>
  </b>
</ul>
</div>

-->
